@media (max-width: 1000px) {
    .nav-bar {
        display: none;
    }

    .menu-hamburguer {
        display: block;
        margin-left: 10px;
    }

    .pagina-colunas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-navigation, .menu-footer {
        display: none;
    }

    .coluna-lateral {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    }

    .visitors-container {
        margin-top: 40px;
    }

    .dashboard-container {
        height: 427px;
    }
}

@media (max-width: 768px) {
    .dados-user,
    .input,
    .editar-profile, 
    .editar-profile-opcoes, 
    .titulo-cidade {
        display: none;
    }

    .user {
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }

    .container {
        margin: 0 auto;
        max-width: 85%;
    }

    .background-main {
        margin: 0;
        padding: 0;
    }

    .projeto-galeria {
        display: grid;
        grid-template-columns: auto auto;
    }

    .conteudo-galeria-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes-botoes button {
        width: 100%;
    }


}

@media (max-width: 576px) {
    .other-imagem, 
    .vazio, 
    .menu-language, 
    .icones-capa {
        display: none;
    }

    .pagina-colunas, .background-main {
        margin: 0;
        padding: 0;
    }

    .perfil {
        display: grid;
        grid-template-columns: auto;
        max-width: 100%;
    }

    .dados-perfil {
        align-items: center;
        justify-content: center;
    }

    .informacoes-perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
    }

    .coluna-lateral {
        display: grid;
        grid-template-columns: auto;
        column-gap: 20px;
    }

    .projeto-galeria {
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
    }
}
