@media (max-width: 1000px) {
    .nav-bar {
        display: none;
    }

    .menu-hamburguer {
        display: block;
    }

    .pagina-colunas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-navigation, .menu-footer {
        display: none;
    }
}