body {
  font-family: "Roboto", sans-serif;
}
:root {
  --cor-principal: #0275b1;
  --font-size-titulo: 18px;
  --font-size-subtitulo: 14px;
  --font-size-texto: 10px;

  /* 
  Gradiente botoes
  background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
border-radius: 4px 4px 0px 0px;
  */
}
.titulo {
  color: #181818;
  font-size: var(--font-size-titulo);
}
