.header {
    display: flex;
    justify-content: space-between;
    padding: 17px 40px;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icone {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.chat {
    position: relative;
}

.chat::after {
    content: url(../img/img-header/menu-chat-numero.png);
    position: absolute;
    left: 50px;
    top: -8px;
}

.pesquisar {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    flex-direction: row;
}

.dados-user {
    padding-left: 10px;
}

.nome-user {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.views, .view-up-down {
    display: flex;
    flex-direction: row;
}

.view-up-down {
    padding-left: 10px;
}

.h5-you {
    opacity: 0.5;
    padding-left: 10px;
}

.views-user {
    opacity: 0.7;
}

.view-up-down {
    color: #02B033;
}

.other {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
}

/* --- Footer --- */ 

.azul {
    color: #0e76a8;
}

footer {
    display: flex;
    justify-content: space-between;
}

.logo-linkedin-footer {
    display: flex;
    flex-direction: column;
}

.menu-navigation {
    display: flex;
}