.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.logo-linkedin {
  padding: 17px 43px 17px 40px;
  display: flex;
  align-items: center;
  border-right: 1px solid #f4f4f4;
}
.menu {
  border-right: 1px solid #f4f4f4;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  /* height: 80px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icone {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.chat {
  position: relative;
}

.chat::after {
  content: url(../img/img-header/menu-chat-numero.png);
  position: absolute;
  left: 50px;
  top: -8px;
}

.pesquisar {
  padding-left: 30px;
  display: flex;
  align-items: center;
  width: 367px;
}
.icone-pesquisar {
  width: 24px;
  height: 24px;
}
.user {
  border-left: 1px solid #f4f4f4;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  width: 330px;
}
.foto-user {
  padding: 18px 15px 20px 30px;
}
.dados-user {
  padding-left: 10px;
}

.nome-user {
  display: flex;
  padding-bottom: 10px;
}

.views,
.view-up-down {
  display: flex;
}

.view-up-down {
  padding-left: 10px;
}

.h5-you {
  opacity: 0.5;
  padding-left: 10px;
}

.views-user {
  opacity: 0.7;
}

.view-up-down {
  color: #02b033;
}

.other {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #f4f4f4;
  width: 130px;
}
.other-imagem {
  padding: 0px 20px;
  display: grid;
}
.other-imagem img {
  justify-self: center;
}
.vazio {
  border-left: 1px solid #f4f4f4;

  background-color: #fff;
  height: 80px;
  width: auto;
}
/* --- Footer --- */
/* 
.azul {
  color: #0e76a8;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #F7F9FB;
  /* align-items: center; */
/* }

.logo-linkedin-footer {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 30px 0 139px 130px;
  align-items: flex-start;
  font-weight: bold;
}

.menu-navigation {
  display: flex;
}

.titulo-navigation {
  padding-bottom: 30px;
  padding-top: 35px;
}

footer h5 {
  font-weight: bold;
}

.menu-talent, .menu-community {
  padding-top: 81px;
  padding-left: 35px;
}

.menu-fast-access, .menu-language {
  padding-top: 35px;
}

.menu-fast-access h5, .menu-language h5 {
  padding-bottom: 30px;
}

.botao-question-setting {
  border: 1px solid #0275B1;
  border-radius: 4px;
  width: 170px;
  height: 32px;
  text-align: justify;
  padding-left: 15px;
  font-size: 12px;
}

.menu-fast-access {
  position: relative;
}

.question-button::after {
  content: url(../img/img-footer/question.png);
  position: absolute;
  right: 10px;
}

.question-button:hover, .settings-button:hover {
  cursor: pointer;
  color: #fff;
  background: #0275B1;
}

.settings-button::after {
  content: url(../img/img-footer/settings.png);
  position: absolute;
  right: 10px;
} */