@import url(//db.onlinewebfonts.com/c/07a38bbad54db72a40b406bed1c72f53?family=Gotham+Pro);

:root {
  --cor-principal: #0275b1;
  --cor-fonte: #181818;
  --font-size-titulo: 18px;
  --font-size-subtitulo: 14px;
  --font-size-texto: 10px;
}
html {
  overflow-y: overlay;
  overflow-x: overlay;
}
.container {
  max-width: 1440px;
  margin: 0px 40px 40px 130px;
}
body {
  font-family: "Gotham Pro", sans-serif;
}

.titulo-negrito {
  color: #181818;
  font-size: var(--font-size-titulo);
  font-weight: bold;
}
.titulo {
  color: #181818;
  font-size: var(--font-size-titulo);
}
.paragrafo {
  color: #181818;
  font-size: var(--font-size-subtitulo);
}

.botao-background {
  color: #fff;
  width: 170px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
}
.botao-borda {
  background-color: #fff;
  color: var(--cor-principal);
  border: 1px solid var(--cor-principal);
  width: 170px;
  height: 32px;
  border-radius: 4px;
}
