@media screen and (min-width: 1441px) {
  .header {
    justify-content: space-between;
  }
  .header .logo-linkedin,
  .header .menu,
  .header .pesquisar,
  .header .user,
  .header .other,
  .header .vazio {
    border: none;
  }
}
@media screen and (min-width: 1440px) {
  .container-1,
  .divisoria-container,
  .post-container {
    width: 850px !important;
  }
  @media screen and (min-width: 1630px) {
    .chatbox {
      display: flex !important;
    }
  }
}
@media screen and (max-width: 1330px) {
  .foto-user {
    display: none;
  }
  .conteudo-container-esquerdo {
    margin-left: auto;
  }
}
@media screen and (max-width: 1200px) {
  .logo-linkedin {
    width: 46px;
    height: 46px;
    margin-left: 10px;
  }
  .header {
    justify-content: space-between;
  }
  .nav-bar {
    display: none;
  }
  .menu-hamburguer {
    display: flex;
    margin-right: 3%;
    font-size: 36px;
    color: rgb(24, 24, 24, 0.6);
  }
  .menu {
    column-gap: 80px;
  }
  .other-imagem,
  .vazio {
    display: none;
  }
  .conteudo-container-esquerdo {
    flex-direction: column;
    margin: 0 auto;
  }
  .container-2 {
    display: grid;
    flex-direction: column;
    max-width: 650px;
    order: -1;
  }
  .container-1 {
    max-width: 650px;
  }
  .perfil-lateral {
    max-width: 650px;
  }
  .foto-perfil-menor {
    display: none;
  }
  .foto-perfil-maior {
    display: block;
  }
  .foto-perfil-lateral {
    margin-top: -90px;
  }
  .perfil-lateral-capa img {
    width: 850px;
    height: 130px;
  }
  .novo-artigo {
    display: flex;
    max-width: 100%;
    max-width: 650px;
    column-gap: 40px;
    margin-bottom: 40px;
  }
  .botao-hastags,
  .botao-novo-artigo {
    display: block;
  }
  .meus-grupos-container,
  .followed-hashtags,
  .articles {
    display: none;
  }
  .user {
    grid-template-columns: auto;
    width: auto;
  }
  .pesquisar input {
    display: none;
  }
  .header .logo-linkedin,
  .header .menu,
  .header .pesquisar,
  .header .user,
  .header .other,
  .header .vazio {
    border: none;
  }
}
@media screen and (max-width: 1000px) {
  header,
  .pagina-colunas {
    width: 650px;
  }
  .pagina-colunas {
    justify-content: center;
  }
  .titulo-new-post {
    width: 650px;
  }
  .header {
    justify-content: stretch;
    width: 650px;
    margin: 0px;
  }
  .user {
    display: none;
  }
  .menu-esquerda-posts,
  .divisoria-container,
  .post-container {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .pagina-colunas {
    width: auto;
  }
  html {
    width: auto;
  }
  .titulo-new-post {
    width: auto;
  }

  .novo-artigo,
  .container-1,
  .perfil-lateral {
    width: 600px;
  }
  .titulo-e-flecha p:before,
  .titulo-e-flecha p:after {
    width: 0px;
  }
  .criar-novo-artigo {
    width: auto;
    padding: 10px;
  }
  .pesquisar {
    width: auto;
  }
  #pesquisar {
    display: flex;
  }
  .header {
    justify-content: space-between;
  }
  .perfil-lateral-nome .paragrafo {
    font-size: 32px;
  }
  .perfil-lateral-info-paragrafo {
    max-width: 500px;
    font-size: 15px;
  }
  .like-this-info,
  .user-post-profissao {
    font-size: 15px;
  }
  .user-post-nome {
    font-size: 20px;
  }
  .menu-footer,
  .menu-navigation {
    display: none;
  }
  .background-main {
    padding-bottom: 20px;
  }
  #language {
    width: auto;
  }
  .logo-linkedin-footer {
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .menu-fast-access h5,
  .menu-language h5 {
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 500px) {
  .pagina-colunas {
    padding-right: 15px;
  }
  .like-this-info p {
    padding-left: 15px;
  }
  header {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .pagina-colunas {
    width: 425px;
  }
  html {
    width: auto;
  }
  .titulo-new-post {
    width: auto;
  }
  .novo-artigo,
  .container-1,
  .perfil-lateral,
  .perfil-lateral-capa {
    width: 425px;
  }
  .titulo-e-flecha p:before,
  .titulo-e-flecha p:after {
    width: 0px;
  }
  .criar-novo-artigo {
    width: auto;
    padding: 10px;
  }
  .pesquisar {
    width: auto;
  }
  #pesquisar {
    display: flex;
  }
  .header {
    justify-content: space-between;
  }
  .paragrafo {
    font-size: 32px;
  }
  .perfil-lateral-info-paragrafo {
    max-width: 425px;
    font-size: 15px;
  }
  .like-this-info,
  .user-post-profissao {
    font-size: 15px;
  }
  .user-post-nome {
    font-size: 20px;
  }
  .novo-artigo {
    padding: 10px;
    margin: 10px;
    column-gap: 20px;
  }
  .novo-artigo button {
    font-size: 12px;
    padding: 0px 5px;
  }
  .botoes-post {
    column-gap: 10px;
  }
  .conteudo-container-esquerdo {
    padding-left: 15px;
  }
  .logo-linkedin-footer {
    padding-left: 20px;
    padding-bottom: 0px;
  }
  .menu-community,
  .menu-talent {
    padding-right: 5px;
  }
  .menu-language {
    display: none;
  }
  footer {
    padding-bottom: 20px;
  }
}
